<h2>New</h2>

<form name="resource" action="<%= BeastAdmin.routes.path_helper(@page.model_name, :create) %>" method="post">

  <% @page.edit_model_fields.each do |col| %>

    <label><%= col[:name].humanize %></label>


    <% case col[:type]
         when :string %>

        <input type="text" name="resource[<%= col[:name] %>]" />

      <% when :text %>
        <textarea name="resource[<%= col[:name] %>]"></textarea>

      <% when :integer %>
        <input type="number" name="resource[<%= col[:name] %>]" />

      <% else %>

        <input type="text" name="resource[<%= col[:name] %>]" />

    <% end %>

    <br/>

  <% end %>

  <input type="submit" value="Create <%= @page.model_name %>">

</form>