<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title><%= @page.title || 'Beast Admin' %></title>

    <%= stylesheet_link_tag('beast_admin', media: 'all') %>
    <%= javascript_include_tag('beast_admin') %>

    <link rel="shortcut icon" href="<%= image_path('beast_admin/favicon.ico')%>" type="image/x-icon">
    <link rel="icon" href="<%= image_path('beast_admin/favicon.ico')%>" type="image/x-icon">

  </head>
  <body class="beast-admin">

    <div class="wrapper">

      <div class="header">

        <a class="btn" href="<%= BeastAdmin.routes.dashboard_path %>">
          Beast Admin
        </a>

        <%= render file: "#{@page.partials_path}/menu" %>

      </div>

      <div class="content">
        <%= render file: "#{@page.partials_path}/#{params[:action]}" %>
      </div>

    </div>

    <div class="footer">

    </div>
  </body>
</html>